Week02/Day3/ExercisesXPGold/main.py
Week02/Day4/DailyChallenge/main.py
Week02/Day5/ExercisesXP/main.py
Week02/Day5/Mini-project/hangman.py
Week02/Day5/Mini-project/main.py
Week03/Day1/main.py
Week03/Day1/ExercisesXP/main.py
Week03/Day1/ExercisesXPNinja/main.py
Week03/Day2/DailyChallenge/main.py
Week03/Day2/ExercisesXP/__pycache__/main.cpython-312.pyc
Week03/Day2/ExercisesXPGold/main.py
Week03/Day3/ExercisesXP/main.py
Week03/Day4/DailyChallenge/main.py
Week03/Day4/ExercisesXP/test.py
Week03/Day5/.vscode/settings.json
Week03/Day5/DailyChallenge/weatherapp.py
Week04/Day2/ExercisesXP/script.sql
Week04/Day4/test.py
Week04/Day4/ExercisesXP/.gitignore
Week04/Day4/ExercisesXP/menu_editor.py
Week04/Day4/ExercisesXP/menu_item.py
Week04/Day4/ExercisesXP/menu_manager.py
Week04/Day4/ExercisesXP/__pycache__/config.cpython-312.pyc
Week04/Day4/ExercisesXP/__pycache__/menu_item.cpython-312.pyc
Week04/Day4/ExercisesXP/__pycache__/menu_manager.cpython-312.pyc
Week02/Day3/ExercisesXPGold/main.py
Week02/Day4/DailyChallenge/main.py
Week02/Day5/Mini-project/main.py
Week03/Day1/ExercisesXP/main.py
Week03/Day2/DailyChallenge/main.py
Week03/Day3/ExercisesXP/main.py
Week03/Day4/DailyChallenge/main.py
Week03/Day4/ExercisesXP/test.py
Week04/Day2/ExercisesXP/script.sql
Week04/Day4/ExercisesXP/menu_item.py
