body {
  background-image: url("./assets/sw-background.jpg");
  background-position: center;
  background-size: cover;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  display: flex;
  /* max-width: 80%; */
  justify-content: center;
}

#logo > img {
  max-width: 70%;
}

.charDetails {
  color: white;
  padding: 20px 70px;
}

#content {
  width: 50%;
  border: 3px solid goldenrod;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.orbitron-h1 {
  color: white;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 2.5em;
}
.orbitron-h2 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
  font-size: 1.4em;
}

.orbitron-content {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
}
.orbitron-button {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
}

.fa-3x {
    display: flex;
    flex-direction: column;
        align-self: center;
}

button {
  height: 50px;
  width: auto;
  background-color: grey;
  border: 2px solid black;
  color: goldenrod;
  padding: 5px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  border-radius: 5px;
}
button:hover {
  background-color: goldenrod;
  color: black;
  border-color: black;
}
