body {
    background-color: white;
    padding: 5px 5px 15px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#heading {
    background-color: rgb(84, 52, 197);
    width:100%;
    height:150px;
    border: solid black 2px;

}

.box {
    height: 600px;
    width: 31%;
    padding: 5px;
    border: solid black 2px;
}

#leftbox {
    
}