body {
    background-color: #81dede;
}

.navstyle {
    background-color: #ff9393;
    
}

.buttoncolor {
    background-color: #e96e6e;
    color:#fff7a3;
}

.homebutton {
    text-decoration: none;
    color: black;
}

.homebutton ::hover {
    color:#81dede;

}