* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

.container {
    padding-top: 30px
    
}

.row {
    display: inline-block;
    margin-left:100px;
    margin-right:auto
}

.itempic {
  height: 380px;
  width: 300px;
  overflow: hidden;
  position:relative;
}

img {
  width: 100%;
}

.item {
  display: inline-block;
}

.text {
  height: 100px;
  width: 100%;
  background-color: white;
  overflow: hidden;
}

.title {
  text-align: center;
  display: block;
  padding: 5px 10px;
}

.newprice,
.oldprice {
  width: 48%;
  display: inline-block;
}

.newprice {
  text-align: right;
  color: green;
  font-size: 1.2em;
}

.oldprice {
    color: grey;
    text-decoration-line: line-through;
}
.button {
  background-color: lightblue;
  color: black;
  padding: 5px 10px;
  outline: black;
  text-decoration: none;
  display: inline-block;

  margin-top: 10px;
  margin-left: 30%;
}

.button:hover {
  background: cornflowerblue;
  color: white;
}

.text {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.circle {
    /* background-color: green; */
    position: absolute;
    
    color: white;
    height: 40px;
    top: 30px;
    width: 40px;
    border-radius: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    display: table-cell;
    line-height:40px
}

.green {
    background-color: green;
    left: 20px;
    
}

.red { 
    background-color: red;
    right:20px
}